@media screen and (max-width: 1200px) {
  .navigation_bar a {
    margin: 30px;
  }
  .background {
    grid-template-columns: 1fr;
  }
  li,
  a {
    margin: 0;
  }
  .wrapper_content {
    height: 100vh;
  }
  .principal_wrapper_image {
    background-image: none;
    display: none;
  }
  .wrapper_content__title {
    text-align: center;
    margin-top: 30px;
  }
  .logo_maxi {
    position: inherit;
    margin: 10px auto;
  }
  .navigation_bar {
    margin: 0 auto;
  }
  .wrapper_content__title {
    font-size: 2.5em;
    margin-top: 10px;
  }
  .wrapper_content__description {
    width: 80%;
    margin: 3% auto;
    font-size: 1.4em;
    text-align: center;
  }
  .wrapper_content__articlelist {
    margin: 5% auto 0;
    width: 40%;
    justify-content: space-around;
    font-size: 1.7em;
  }
  .footer_line {
    display: none;
  }
  .footer {
    margin: 10% 0;
    display: flex;
    justify-content: center;
  }
  /* --------Parte Motos */
  .hero__title {
    font-size: 2em;
  }
  .hero__description {
    font-size: 1.2em;
  }
  .options {
    grid-template-columns: 80%;
  }
  .options article {
    max-height: 350px;
    margin-bottom: 200px;
  }
  .options__button {
    top: 50px;
  }
  .navbar__items a {
    margin-right: 40px;
  }
  .options p {
    width: 70%;
    margin: 0 auto;
  }
}

/* -----------------------------------Parte 768px */

@media screen and (max-width: 768px) {
  .logo_maxi {
    width: 250px;
  }
  .navigation_bar {
    margin: 2%;
    justify-content: center;
  }
  .navigation_bar a {
    font-size: 1.1em;
  }
  .wrapper_content__title {
    font-size: 2.3em;
    margin: 20px 0px 0 0;
  }
  .wrapper_content__description {
    font-size: 1.4em;
  }
  .wrapper_content__articlelist a {
    font-size: 0.8em;
    margin: 30px;
  }
  .footer {
    margin-top: 30px;
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
  }
}

/* -------------------------------------Parte 470px */

@media screen and (max-width: 470px) {
  .logo_maxi {
    margin-top: 30px;
    width: 230px;
  }
  .navigation_bar {
  }
  .navigation_bar a {
    font-size: 0.9em;
    margin: 10px;
  }
  .wrapper_content__description {
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 25px;
  }
  .wrapper_content__title {
    font-size: 1.8em;
  }
  .wrapper_content__articlelist {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 20px auto;
  }
  .wrapper_content__articlelist a {
    margin: 17px;
    border: solid 4px #ffbb00;
  }
  .footer p {
    font-size: 1.4em;
  }
  .icons {
    font-size: 1.3em;
  }
}
