@media screen and (max-width: 1200px) {
  .heros {
    width: 100%;
    height: auto;
  }
  .hero1 {
    height: 400px;
  }
  .hero__navbar {
    right: 90px;
  }
  .hero__navbar a {
    margin: 0 20px;
  }
  .hero1__text {
    font-size: 3em;
  }
  .hero1__bar {
    height: 150px;
  }
  .vertical_bar {
    display: flex;
    align-items: center;
  }
  .hero1 .vertical_bar h2 {
    font-size: 3em;
    margin: 0;
  }

  .hero2 {
    height: 450px;
  }
  .vertical_bar2 h2 {
    font-size: 2.5em;
  }
  .hero2__text {
    font-size: 2.7em;
  }
  .hero2__text2 h2 {
    font-size: 2.2em;
  }

  .vertical_bar3 .vertical_text {
    font-size: 3em;
  }
  .hero3__section1 h2 {
    font-size: 2.3em;
  }
  .icons span {
    margin: 0;
  }
  .hero3__text1-wrapper h2 {
    font-size: 3em;
  }
  .hero3__motos h2 {
    font-size: 2.5em;
  }
  .hero3__motos ul {
    justify-content: center;
  }
  .hero3__motos a {
    margin: 20px;
    font-size: 1.5em;
  }
  /* ---------------------------Termina Home */
  .navigation_bar a {
    margin: 30px;
  }
  .background {
    grid-template-columns: 1fr;
  }
  li,
  a {
    margin: 0;
  }
  .wrapper_content {
    height: 100vh;
  }
  .principal_wrapper_image {
    background-image: none;
    display: none;
  }
  .wrapper_content__title {
    text-align: center;
    margin-top: 30px;
  }
  .logo_maxi {
    display: block;
    position: inherit;
    margin: 10px auto;
  }
  .navigation_bar {
    margin: 0 auto;
  }
  .wrapper_content__title {
    font-size: 2.5em;
    margin-top: 10px;
  }
  .wrapper_content__description {
    width: 80%;
    margin: 3% auto;
    font-size: 1.4em;
    text-align: center;
  }
  .wrapper_content__articlelist {
    margin: 5% auto 0;
    width: 40%;
    justify-content: space-around;
    font-size: 1.7em;
  }
  .footer_line {
    display: none;
  }
  .footer {
    margin: 10% 0;
    display: flex;
    justify-content: center;
  }
  /* --------Parte Motos */
  .logo img {
    width: 250px;
  }
  .hero__title {
    font-size: 2em;
  }
  .hero__description {
    font-size: 1.2em;
  }

  .options article {
    max-height: 350px;
    margin-bottom: 20px;
  }
  .options__button {
    top: 50px;
  }
  .navbar__items a {
    margin-right: 40px;
  }
  .options p {
    width: 70%;
    margin: 0 auto;
  }
  /* -----------------Parte Motos Lista */
  .principal {
    width: 100%;
    padding: 0;
  }
  .product {
    grid-template-columns: minmax(250px, 350px) 65%;
    margin-left: 50px;
    gap: 20px;
  }
  .product__title {
    margin: 10px 0;
    margin-right: 30px;
  }
  .product__description {
    margin: 10px 0;
    margin-right: 30px;
  }
  .product__button {
    margin: 10px 0;
    margin-right: 30px;
  }
  .product div {
    margin: 0;
  }
  .product figure {
    width: 250px;
  }
  /* ----------------------Parte Modal */
  .modal {
    width: 80%;
  }
  .modal__content {
    font-size: 1em;
  }
  .modal__info1,
  .modal__info2,
  .modal__info3 {
    width: auto;
  }
  /* --------------------Parte Footer Motos */

  .foooter div {
    justify-content: center;
  }
  .foooter__logo img {
    margin: 5px 0px 20px 0;
    width: 250px;
  }
  .contact,
  .contact p {
    text-align: center;
    justify-content: center;
  }
  .contact__map_small {
    display: block;
    margin: 0 auto;
  }
  .contact__map_medium {
    display: none;
  }
  .contact {
    grid-template-columns: 90%;
  }
  .contact__content {
    margin: auto;
  }
  /* ------------------------Acerca de Nosotros */
  .foooter {
    margin-top: 200px;
  }
}

/* -----------------------------------Parte 768px */

@media screen and (max-width: 768px) {
  .horizontal_bar {
    margin: 0;
  }
  .hero__navbar {
    right: 10px;
  }
  .hero1,
  .hero2,
  .hero3 {
    grid-template-columns: 2fr 3fr;
    padding-left: 0;
    padding-right: 20px;
  }
  .hero1__text {
    font-size: 1.9em;
  }
  .hero1__bar {
    height: 110px;
  }
  .hero1 .vertical_bar h2 {
    font-size: 2em;
  }
  .hero2 {
    height: 300px;
  }
  .hero2__text {
    font-size: 1.8em;
    margin-right: 10px;
  }

  .hero2__text2 {
    font-size: 1.3em;
    margin-top: 30px;
  }
  .hero2__text2 h2 {
    font-size: 1em;
  }
  .hero2__bar {
    height: 80px;
  }
  .vertical_bar2 h2 {
    font-size: 1.7em;
  }
  .horizontal_bar3 {
    margin: 0;
  }
  .hero3__text1-wrapper h2 {
    font-size: 1.8em;
  }
  .hero3__motos h2 {
    font-size: 1.6em;
  }
  .hero3__motos a {
    font-size: 1em;
    margin: 5px;
  }
  .hero3__section1 h2 {
    font-size: 1.5em;
  }
  .vertical_bar3 .vertical_text {
    font-size: 2em;
  }
  .icons {
    margin: 20px 0;
  }
  .icons [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 30px;
  }
  .vertical_bar3 {
    height: 55%;
  }

  /* ----------------------------Home 2 */
  .logo_maxi {
    width: 250px;
    display: none;
  }
  .navigation_bar {
    margin: 2%;
    justify-content: center;
    display: none;
  }
  .navigation_bar a {
    font-size: 1.1em;
  }
  .wrapper_content__title {
    display: none;
  }
  .wrapper_content__description {
    display: none;
  }
  .wrapper_content__articlelist {
    position: absolute;
    display: block;
    font-size: 1.4em;
    margin: 30px;
    bottom: 10px;
    right: 10px;
  }
  .wrapper_content__articlelist li {
    margin: 20px;
  }
  .image {
    display: block;
  }
  .footer {
    display: none;
  }
  .footer_motos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__text {
    display: none;
  }
  .foooter__logo {
    display: none;
  }
  .foooter__logo a {
    margin: 0 auto;
  }
  .icons ul {
    margin: 0 auto;
  }

  /* -----------------Parte Motos */
  .navbar {
    justify-content: center;
  }
  .navbar__items a {
    font-size: 0.9em;
    margin: 5px 15px;
  }
  .hero__title {
    font-size: 1.8em;
  }
  .options {
    grid-template-columns: 80%;
    gap: 80px;
  }
  /* --------------------Parte Motos Venta */
  .product {
    grid-template-columns: 80%;
    margin: 30px 0;
    gap: 10px;
  }
  .product figure {
    width: 80%;
    margin: 0 auto;
  }
  .product div {
    text-align: center;
  }
  .product__title {
    font-size: 1.8em;
    margin: 0;
  }
  .product__description {
    margin: 10px 0;
  }
  .product__button {
    margin: 10px 0;
  }
  /* ----------------Parte Modal */
  .modal {
    grid-template-rows: 40% 40%;
    text-align: center;
    height: auto;
    margin: auto;
    left: 10px;
    right: 10px;
    top: 20px;
  }
  .modal p {
    width: 100%;
  }
  div .active {
    display: block;
  }
  .modal__content {
    margin: 10px auto;
  }
  .modal__info1 {
    display: none;
    max-height: 100%;
  }
  .modal__info2 {
    display: block;
    grid-template-columns: 80%;
    max-height: 100%;
    text-align: center;
  }
  .modal__title2 {
    text-align: center;
    margin-top: -10px;
  }
  .modal__info2 img {
    width: 90%;
    max-height: 300px;
    margin: 0 auto;
  }
  .modal__info3 {
    display: block;
    grid-template-columns: 80%;
    max-height: 100%;
  }
  .modal__info3 img {
    display: none;
  }

  .modal__title {
    font-size: 1em;
  }
  .modal__button {
    margin: 0 auto;
  }
  .modal__descripcion3 {
    margin-bottom: 30px;
  }
  .foooter {
    display: block;
  }
  /* --------------------Acerca de Nosotros */
  .acerca {
    margin: 0;
    grid-template-columns: 80%;
    text-align: center;
    gap: 5px;
  }
  .acerca__title {
    font-size: 2.3em;
  }
  .acerca__content h2 {
    font-size: 2em;
  }
  .acerca__content .acerca__subtitle {
    font-size: 1.3em;
  }
  .acerca__content p {
    font-size: 1.2em;
  }
  .acerca__image {
    display: none;
  }
  .foooter {
    margin-top: 60px;
  }
  /* ----------------Cascos */
  .principal-section {
    display: block;
  }
}

/* -------------------------------------Parte 470px */

@media screen and (max-width: 470px) {
  .hero__navbar {
    right: 10px;
  }
  .hero1 {
    height: 300px;
  }
  .hero1,
  .hero2,
  .hero3 {
    grid-template-columns: 2fr 3fr;
    padding-left: 0;
    padding-right: 0px;
  }
  .hero1__text {
    font-size: 1.45em;
  }
  .hero1__bar {
    height: 80px;
  }
  .hero1 .vertical_bar h2 {
    font-size: 1.7em;
  }
  .hero__navbar li {
    font-size: 1.4em;
  }
  .hero2__text {
    font-size: 1.3em;
  }
  .vertical_bar2 h2 {
    font-size: 1.4em;
  }
  .hero2__text2 h2 {
    font-size: 0.7em;
  }
  .hero2__bar {
    height: 60px;
  }
  .hero2 {
    height: 250px;
  }
  .hero3__text1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 30px 0;
  }
  .hero3__text1-wrapper h2 {
    font-size: 1.5em;
  }
  .hero3__motos ul a {
    font-size: 0.7em;
  }
  .hero3__motos ul {
    margin: 30px 0 45px;
  }
  .hero3__motos a {
    border: 3px solid #ffbb00;
    font-size: 0.7em;
  }
  .hero3__motos h2 {
    font-size: 1.2em;
  }
  .hero3__section1 h2 {
    font-size: 1.4em;
  }
  .vertical_bar3 .vertical_text {
    font-size: 1.7em;
  }
  .icons {
    margin-top: 0;
  }
  .icons [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-size: 25px;
  }
  .vertical_bar3 {
    height: 50%;
  }
  /* -----------------------------Home nuevo */
  .logo_maxi {
    margin-top: 30px;
    width: 230px;
  }
  .navigation_bar a {
    font-size: 0.9em;
    margin: 10px;
  }
  .wrapper_content__description {
    width: 80%;
    font-size: 1.2em;
    margin-bottom: 25px;
  }
  .wrapper_content__title {
    font-size: 1.8em;
  }
  .wrapper_content__articlelist {
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 20px auto;
  }
  .wrapper_content__articlelist a {
    margin: 17px;
    border: solid 4px #ffbb00;
  }
  .footer p {
    font-size: 1.4em;
  }
  .footer_motos p {
    font-size: 1.4em;
  }
  .icons {
    font-size: 1.3em;
  }
  /* -----------------Parte Motos */
  .navbar {
    justify-content: center;
  }
  .navbar__items a {
    font-size: 0.8em;
    margin: 5px 7px;
  }
  .hero__content {
    padding: 0 15px;
  }
  .hero__title {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
  .hero__description {
    font-size: 1.2em;
    margin-top: 5px;
  }
  .options {
    grid-template-columns: 80%;
    gap: 80px;
    margin-top: 10px;
  }
  .options a {
    font-size: 1.3em;
  }
  .options p {
    width: 95%;
    font-size: 1em;
    margin: 0 auto;
  }
  /* ---------------Parte Venta */
  .product__description {
    font-size: 0.9em;
  }
  /* ----------------Foooter venta */
  .foooter__logo img {
    width: 240px;
  }
  /* --------------------Parte Contacto */
  .contact__map_personalized {
    display: block;
    margin: 0 auto;
  }
  .contact__map_small {
    display: none;
  }
  .contact__content p {
    font-size: 1em;
    margin: 5px auto;
  }
  .contact__content h2 {
    font-size: 1.6;
    margin: 0;
  }
  /* ----------------Parte Acerca de Nosotros */
  .acerca__title {
    font-size: 2em;
  }
  .acerca__content h2 {
    font-size: 1.7em;
  }
  .acerca__content .acerca__subtitle {
    font-size: 1.2em;
  }
  .acerca__content p {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 360px) {
  .hero__navbar a {
    margin: 14px;
  }
  .hero1__text {
    font-size: 1.3em;
  }
  .hero1__bar {
    width: 10px;
    height: 60px;
    margin-left: 15px;
  }
  .hero1 .vertical_bar h2 {
    font-size: 1.5em;
  }
  .hero2__text {
    font-size: 1.2em;
  }
  .hero2__text2 h2 {
    font-size: 0.7em;
  }
  .hero2__bar {
    height: 50px;
    width: 10px;
    margin-left: 10px;
  }
  .vertical_bar2 h2 {
    font-size: 1.2em;
  }
  .hero3__text1-wrapper h2 {
    font-size: 1.3em;
  }
  .hero3__motos h2 {
    font-size: 1em;
  }
  .hero3__motos ul {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
  .hero3__motos ul li {
    margin: 15px 0;
  }
  .hero3__motos ul a {
    font-size: 0.8em;
  }
  .hero3__section1 h2 {
    font-size: 1em;
  }
  .vertical_bar3 .vertical_text {
    font-size: 1.5em;
  }
  .icons a {
    margin: 0;
  }
  /* -------------------home nuevo */
  .wrapper_content__title {
    margin-top: 0;
  }
  .wrapper_content__description {
    font-size: 1em;
  }
  .footer {
    margin-top: 5px;
  }
  .footer__text {
    font-size: 0.7em;
  }
  /* --------------------Parte Modal */
  .modal {
    padding: 15px;
  }
  .modal__descripcion2 {
    font-size: 0.9em;
  }
  .modal__title2 {
    margin-top: -10px;
    font-size: 1em;
  }
  .modal__image2 {
    width: 70%;
  }
  .modal__descripcion3 {
    font-size: 0.9em;
  }
  .modal__title3 {
    margin-top: -10px;
    font-size: 1em;
  }
  .modal__button {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    left: 50%;
  }
  /* --------------------Acerca de Nosotros */
  .acerca__title {
    font-size: 2em;
  }
  .acerca__content h2 {
    font-size: 1.8em;
  }
  .acerca__content .acerca__subtitle {
    font-size: 1.1em;
  }
  .acerca__content p {
    font-size: 1em;
  }
}
@media screen and (max-width: 330px) {
  .modal__descripcion2 {
    font-size: 0.8em;
  }
  .modal__descripcion3 {
    font-size: 0.8em;
  }
}
