@import url("https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap");
/* #1a3365 azul */
/* #ffbb00 amarillo */
/* #ff4343 rojo */

/* -----------Presets */
* {
  padding: 0;
  margin: 0;
}
body {
  display: block;
  font-family: "Lato", sans-serif;
  background: #333;
}
h1,
h2,
h3 {
  color: white;
  font-family: "Oswald", sans-serif;
}
ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
}
/* ------------------Index2 */

.hero__navbar {
  position: absolute;
  top: 15px;
  right: 200px;
}

.hero__navbar li {
  font-size: 1.7em;
  font-family: "Oswald", sans-serif;
}
.hero__navbar a:hover {
  color: #ffbb00;
}

.heros {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.hero1 {
  background-image: url("https://imgur.com/Ph9C4CH.png");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px 50px;
  height: 450px;
}
.vertical_bar {
  min-width: 100%;
  width: 100%;
  height: inherit;
  background-color: rgba(255, 187, 0, 0.5);
  display: flex;
  justify-content: center;
  /* line-height: 4.5em; */
}
.vertical_bar h2 {
  line-height: 1.3em;
  font-size: 3.5em;
  margin: 50px;
}
.vertical_bar span {
  line-height: 1.1em;
  font-size: 1.7em;
}
.hero1__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 100px 0;
}
.hero1__bar {
  background-color: #ffbb00;
  height: 200px;
  width: 16px;
  margin-left: 20px;
}
.hero1__text {
  margin: 0;
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 4em;
  line-height: 1.6em;
  text-align: end;
  text-shadow: #414141;
}
.hero1__text span {
  font-size: 1.7em;
}

.hero2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px 50px;
  height: 500px;
}
.vertical_bar2 {
  min-width: 100%;
  width: 100%;
  height: inherit;
  background-color: rgba(255, 187, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* line-height: 4.5em; */
}
.vertical_bar2 h2 {
  line-height: 1.2em;
  font-size: 3.5em;
  margin: 50px 0;
}
.hero2__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30px 0;
}

.hero2__text {
  font-size: 3.7em;
  line-height: 1.6em;
}
.hero2__text span {
  font-size: 1.7em;
  color: #ffbb00;
}
.hero2__text2 {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.hero2__text2 h2 {
  font-size: 2.8em;
}
.hero2__bar {
  background-color: #ffbb00;
  height: 130px;
  width: 16px;
  margin-left: 20px;
}

.horizontal_bar {
  width: 100%;
  height: 15px;
  background-color: rgba(255, 187, 0, 0.5);
}

.hero3 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px 50px;
  background-image: url("https://imgur.com/5tT35E9.png");
  background-size: cover;
  background-position: center;
}
.hero3__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero3__text1-wrapper {
  width: 70%;
  padding: 30px 50px;
  margin: 0 auto;
  margin-right: 0;
}
.text1-1 h2 {
  font-size: 3.7em;
}
.text1-2 h2 {
  font-size: 4.2em;
  text-align: end;
}
.horizontal_bar3 {
  margin-left: 10%;
  margin-right: -100px;
  width: 90%;
  height: 15px;
  background-color: rgba(255, 187, 0, 0.5);
}
.hero3__motos {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero3__motos h2 {
  font-size: 3em;
  text-align: center;
}

.hero3__motos ul {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.hero3__motos a {
  margin: 0;
  text-shadow: 1px 1px 20px black;
  border: solid 4px #ffbb00;
  padding: 5px 15px;
  border-radius: 5%;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
}
.vertical_bar3 {
  min-width: 100%;
  width: 100%;
  height: 65%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 187, 0, 0.5);
}
.vertical_bar3 img {
  width: 50%;
  margin-bottom: 30px;
}
.vertical_bar3 .vertical_text {
  text-align: left;
  font-size: 4em;
  margin: 0;
}
.hero3__section1 h2 {
  font-size: 3em;
  text-align: center;
  margin-top: 15px;
}
.hero3__section1 span {
  font-size: 40px;
}
.icon {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.icons span {
  margin: 10px;
}

/*----------Primer Ventana */

/* -----------Ventana Imágen */
.background {
  background: linear-gradient(45deg, #414141, #181818);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.principal_wrapper_image {
  display: block;
  height: 100vh;
}
.principal_wrapper_image img {
  width: 100%;
  height: 100%;
}
.logo_maxi {
  display: none;
  position: fixed;
  width: 350px;
  left: 170px;
  top: 20px;
}

/* --------Ventana Contenidos */
.wrapper_content {
  display: flex;
  flex-direction: column;
}
.navigation_bar {
  margin: 3% 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation: 2000ms fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.navigation_bar a {
  font-size: 1.2em;
}

.wrapper_content__indice {
  color: #ffbb00;
  font-weight: 400;
}
.wrapper_content__title {
  font-size: 2.5em;
  margin-top: 5%;
  margin-left: 10px;
  text-shadow: 2px 2px 50px #021e36;
}
.wrapper_content__description {
  color: white;
  width: 70%;
  margin-left: 18%;
  margin-top: 20px;
  font-size: 1.4em;
  line-height: 1.7em;
}
.wrapper_content__articlelist {
  width: 70%;
  margin-left: 18%;
  margin-top: 10%;
  font-size: 1.4em;
}
.wrapper_content__articlelist a {
  border: solid 4px #ffbb00;
  padding: 5px 25px;
  border-radius: 5%;
  font-family: "Oswald", sans-serif;
}
.image {
  display: none;
  width: 100%;
  height: auto;
}
.image img {
  width: 100%;
}

/* ---------Footer */
.footer {
  margin-left: -15%;
  margin-top: 10%;
  display: flex;
  align-items: center;
}
.footer hr {
  margin-top: 8px;
  width: 250px;
  color: white;
  background-color: white;
  border: solid 1px white;
}
.footer__text {
  color: white;
  font-size: 1.7em;
  margin: 5px 10px;
}
.icons a {
  margin: 5px;
}

/* ___________________________Empieza Sección Motos */

/* --------Header */
.background_body {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: #333;
}
.header {
  height: auto;
  display: block;
  background-color: #252525;
}
.navbar {
  padding: 0 0 10px 0;
  align-items: center;
  display: flex;
  justify-content: center;
  animation: 2000ms fadeIn;
  font-size: 1.3em;
}
.navbar__items a {
  margin-top: -100px;
}
.navbar__items a:hover {
  color: #ffbb00;
}
.hero img {
  width: 100%;
  margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 300px;
  margin: 10px;
}

/* ----------Hero */

.hero .hero__banner {
  margin-top: 30px;
}

/* ---------Options */
.options {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 35% 35%;
  height: 150px;
  justify-content: space-evenly;
  background-color: #333;
}
.options article {
  padding: 20px;
  color: white;
  height: 100%;
  text-align: center;
  box-shadow: 0px 0px 20px 0px rgb(65, 65, 65);
}
.options article p {
  font-size: 1.3em;
}
.news {
  background-image: url(../images/bonelli.png);
  background-size: cover;
}

.olds {
  background-image: url(../images/moto.png);
  background-size: cover;
}
.options__title {
  text-shadow: 1px 1px 20px black;
  font-size: 3.5em;
  margin-bottom: 4%;
  font-family: "Oswald", sans-serif;
}

.options__button {
  margin: 0;
  position: relative;
  bottom: -30px;
  text-shadow: 1px 1px 20px black;
  border: solid 4px #ffbb00;
  padding: 5px 15px;
  border-radius: 5%;
  font-family: "Oswald", sans-serif;
  font-size: 1.8em;
}
/* --------------secciòn Motos */
.principal {
  width: 70%;
  padding: 10px;
  background-color: #333;
  margin: 0 auto;
  border-right: 3px solid #444;
  border-left: 3px solid #444;
}
.principal__button-wrapper {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
}
.principal__boton {
  font-family: "Oswald", sans-serif;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  background-color: transparent;
  border: 2px solid #ffbb00;
}
.product {
  display: grid;
  grid-template-columns: 27% 65%;
  justify-content: center;
  margin-top: 40px;
}
.product__image {
  width: 100%;
}
.product__title {
  margin-left: 40px;
  font-size: 1.6em;
}
.product__description {
  margin: 10px 0 15px 40px;
  color: white;
  font-size: 1em;
}
.product__button {
  font-family: "Oswald", sans-serif;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 1.3em;
  color: white;
  background-color: transparent;
  border: 3px solid #ffbb00;
  margin-left: 40px;
}
/* ------------------Footer */
.foooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  /* width: 100%; */
  background-color: #252525;
}
.foooter div {
  display: flex;
  align-items: center;
}
.foooter__logo {
  width: 100%;
  justify-content: flex-end;
}
.foooter__logo img {
  margin-right: 50px;
  width: 280px;
  margin-top: -10px;
}

.fixed {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer_motos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  /* width: 100%; */
  background-color: #252525;
}
.footer_motos div {
  display: flex;
  align-items: center;
}
.foooter__logo {
  width: 100%;
  justify-content: flex-end;
}
.foooter__logo img {
  margin-right: 50px;
  width: 280px;
  margin-top: -10px;
}
.footer_motos {
  margin-top: 20px;
}

/* ------------------------------Parte Contacto */
.contact {
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.contact__map {
  margin: 40px 30px;
}
.contact__map_small {
  display: none;
}
.contact__map_personalized {
  display: none;
}
.contact__content {
  margin-left: 30px;
  text-align: center;
}
.contact__content h2 {
  font-size: 2.7em;
  margin: 20px 0;
}
.contact__content h3 {
  font-size: 1.7em;
}
.contact__content p {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
  color: #ddd;
}
.contact__content a {
  margin: 0 5px;
}
p.contact__subtitle {
  margin: 0;
}
/* ------------------Acerca de Nosotros */
.acerca__title {
  font-size: 2.7em;
  text-align: center;
  margin-top: 15px;
}
.acerca {
  height: 50vh;
  width: 100%;
  margin: 38px auto;
  display: grid;
  grid-template-columns: 45% 40%;
  gap: 40px;
  justify-content: center;
}
.acerca__image {
  background-image: url("https://scontent.faep24-1.fna.fbcdn.net/v/t1.0-9/60648817_109798300259160_7364179702002483200_o.jpg?_nc_cat=104&_nc_sid=dd9801&_nc_eui2=AeHO4SD7546sZ1ige_j_bsfJYkoTZNWtzvtiShNk1a3O-88DyHObLwNpX8V-ILZDlUaXhHdLTDtJ320-rxnJxKpt&_nc_oc=AQn8FijExabCU0Rkw6SIdLYUbydlMHbAOtp4Y3sKHidDxbr7L8TUX5W7yENr7MSJtqA&_nc_ht=scontent.faep24-1.fna&oh=aa1c29a9865cb3d00449fad2175dbed7&oe=5EF2A202");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.acerca__content h2 {
  font-size: 2.3em;
}
.acerca__content .acerca__subtitle {
  font-size: 1.5em;
  margin-bottom: 20px;
}
.acerca__content p {
  font-size: 1.3em;
  color: white;
}

/* ----------------------------Parte Cascos */
.principal-section {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
  gap: 30px 50px;
}

.principal-product {
  height: auto;
  margin-top: 50px;
  width: 100%;
}
.principal-product--top {
  margin-top: 50px;
  height: auto;
  width: 100%;
}
.principal-product__foto {
  width: 100%;
}
.principal-product__text {
  font-size: 2em;
  text-align: center;
}
.banner {
  width: 100%;
}
